<h2>{{title}}</h2>
<table class="main-table">
  <thead>
    <th class="left-tab-header">Bailic name</th>
    <th >Native Name</th>
    <th >House</th>
    <th class='nickname-column'>Nickname</th>
    <th >Nationality</th>
    <th class='occupation-column'>Occupation</th>
    <th class="right-tab-header">Real Person</th>
  </thead>
  <tr ng-repeat="character in characters">
    <td ><a ng-href="#/characters/{{$index}}">{{character.bailicName}}</a></td>
    <td >{{character.nativeName}}</td>
    <td >{{character.house}}</td>
    <td >{{character.nickname}}</td>
    <td >{{character.nationality}}</td>
    <td >{{character.occupation}}</td>
    <td >{{character.realPerson}}</td>
  </tr>
</table>
