<h2>{{title}}</h2>

<div class="character-text-info-section">
  <div class="character-info-panel">
    <h4>Arms:</h4>
    <div>
      <img src="{{profileImage === 'undefined' ? '/api/images/blank_arms.png' : '/api/images/profile/' + profileImage + '.png'}}" alt="image">
    </div>

    <h4>Arms:</h4>
    <div>
      <img src="{{coatOfArms === '/api/images/undefined' ? '/api/images/blank_arms.png' : coatOfArms}}" alt="coat of arms">
    </div>

    <h4>Name Info:</h4>
    <p><span>Bailic Name:</span> {{character.bailicName}}</p>
    <p><span>Native Name:</span> {{character.nativeName}}</p>
    <p><span>Nickname:</span> {{character.nickname}}</p>
    <p><span>House:</span> {{character.house}}</p>
    <p><span>Real Person:</span> {{character.realPerson}}</p>
    <h4>Background:</h4>
    <p><span>Nationality:</span> {{character.nationality}}</p>
    <p><span>Occupation:</span> {{character.occupation}}</p>
    <p><span>Fighting Class:</span> {{character.fightingClass}}</p>
  </div>

  <div class='character-text-panel'>
    <p>{{character.text}}</p>
  </div>
</div>
<div class='weapons-info-panel'>
  <ul class='weapons-list' ng-repeat="weapon in weapons">
    <li class='weapon-info'>
      <div><a ng-href="#/weapons/{{weapon[1]}}">{{weapon.weapon.name}}</a></div>
      <div><img src='/api/images/weapons/{{weapon.imgTag}}.png' ></div>
    </li>
  </ul>
</div>
