<h2>{{title}}</h2>
<ul>
  <li id='aliases'> <h4>Aliases:</h4>
  <p>{{aliases}}</p>
  </li>
  <li id='cosmology'> <h4>Cosmology:</h4>
    <img src="/api/images/religions/{{param}}_cosmology.jpg" alt="">
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Realm</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="realm in cosmology">
        <td>{{realm.name}}</td>
        <td>{{realm.desc}}</td>
      </tr>
    </table>
  </li>
  <li id='clergy'> <h4>Divinities:</h4>
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Being</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="divine in divines">
        <td>{{divine.name}}</td>
        <td>{{divine.desc}}</td>
      </tr>
    </table>
  </li>
  <li id='clergy'> <h4>Lesser Beings:</h4>
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Being</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="lesserBeing in lesserBeings">
        <td>{{lesserBeing.name}}</td>
        <td>{{lesserBeing.desc}}</td>
      </tr>
    </table>
  </li>
  <li id='clergy'> <h4>Divine Clergy:</h4>
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Type</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="typeOfCleric in clergy">
        <td>{{typeOfCleric.name}}</td>
        <td>{{typeOfCleric.desc}}</td>
      </tr>
    </table>
  </li>
  <li id='clergy'> <h4>Spirits:</h4>
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Being</th>
        <th>Where Honored</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="spirit in spirits">
        <td>{{spirit.name}}</td>
        <td>{{spirit.where}}</td>
        <td>{{spirit.desc}}</td>
      </tr>
    </table>
  </li>
  <li id='spirit-clergy'> <h4>Spirit Clergy:</h4>
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Type</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="typeOfCleric in spiritClerics">
        <td>{{typeOfCleric.name}}</td>
        <td>{{typeOfCleric.desc}}</td>
      </tr>
    </table>
  </li>
  <li id='orders'> <h4>Religious Orders:</h4>
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Symbol</th>
        <th>Order</th>
        <th>Habit</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="order in orders">
        <td><img src="/api/images/religions/{{order.name.split(' ')[0]}}.jpg" alt="symbol"></td>
        <td>{{order.name}}</td>
        <td>{{order.habit}}</td>
        <td>{{order.desc}}</td>
      </tr>
    </table>
  </li>

  <li id='holy_ones'> <h4>Holy Ones:</h4>
    <table class="main-table">
      <thead>
        <th class="left-tab-header">Name</th>
        <th>Life Span</th>
        <th>Buried</th>
        <th>Honored By</th>
        <th class="right-tab-header">Description</th>
      </thead>
      <tr ng-repeat="person in holyOnes">
        <td>{{person.name}}</td>
        <td>{{person.lifeSpan}}</td>
        <td>{{person.buried}}</td>
        <td>{{person.honoredBy}}</td>
        <td>{{person.desc}}</td>
      </tr>
    </table>
  </li>
</ul>
