<h2>{{title}}</h2>

<div class="character-info-panel">
  <h4>Arms:</h4>
  <img src={{coatOfArms}} alt="coat of arms">
  <h4>Name Info:</h4>
  <p><span>Bailic Name:</span> {{character.bailicName}}</p>
  <p><span>Native Name:</span> {{character.nativeName}}</p>
  <p><span>Nickname:</span> {{character.nickname}}</p>
  <p><span>House:</span> {{character.house}}</p>
  <p><span>Real Person:</span> {{character.realPerson}}</p>
  <h4>Background:</h4>
  <p><span>Nationality:</span> {{character.nationality}}</p>
  <p><span>Occupation:</span> {{character.occupation}}</p>
  <p><span>Fighting Class:</span> {{character.fightingClass}}</p>
</div>